*{
    margin: 0;
    padding: 0;
}

@keyframes colorChanger {
    5% {
        color: #fff;
    }
    17% {
        color: #ff0000;
    }
    28% {
        color: #ff7f00;
    }
    39% {
        color: #FFFF00;
    }
    50% {
        color: #00ff00;
    }
    61% {
        color: #0000ff;
    }
    72% {
        color: #4B0082;
    }
    83% {
        color: #8b00ff;
    }
    92% {
        color: #fff;
    }
}

html{
    background-color: #000;
}

body{
    margin: auto;
    display: block;
    width: 1240px;
}

header img{
    float: left;
    padding: 10px;
}

h1{
    font-family: monospace;
    float: left;
    padding: 10px;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
    animation-name: colorChanger;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

h2{
    font-family: Arial, sans-serif;
    font-weight: 400;
    float: right;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}

section.game{
    clear: both;
    padding: 50px;
}

#levelcount{
    clear: right;
}

canvas#game-window{
    float: left;
    width: 640px;
    height: 640px;
    /* padding-top: 30px; Simon Got rid of b/c not really sure why */
    display: block;
    border: 1px solid #fff;
}

#scoreboard-window{
    float: right;
    width: 480px;
    height: 640px;
    padding-top: 30px;
    display: block;
    border: 1px solid #fff;
}