*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #000;
}

body{
    margin: auto;
    display: block;
    width: 1240px;
}

header img{
    float: left;
    padding: 10px;
}

h1{
    font-family: monospace;
    float: left;
    padding: 10px;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
}

h2{
    font-family: Arial, sans-serif;
    font-weight: 400;
    float: right;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}

section.game{
    clear: both;
    padding: 50px;
}

canvas#game-window{
    float: left;
    width: 640px;
    height: 640px;
    /* padding-top: 30px; Simon Got rid of b/c not really sure why */
    display: block;
    border: 1px solid #fff;
}

#scoreboard-window{
    float: right;
    width: 480px;
    height: 640px;
    padding-top: 30px;
    display: block;
    border: 1px solid #fff;
}